In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/NISPUF17 (1).csv')

In [17]:
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [19]:
def proportion_of_education():
    import numpy as np
    import pandas as pd
    
  
    less_than_high_school  = df[df['EDUC1']<12].shape[0]
    high_school = df[df['EDUC1']==12].shape[0]
    more_than_high_school_not_college = df[(df['EDUC1']>12) & (df['EDUC1']<16)].shape[0]
    college = df[df['EDUC1']>=16].shape[0]
    
    total_chil1 = df.shape[0]
    
    proportions = {
        'less than high school': less_than_high_school/total_chil1,
        'high school': high_school/total_chil1,
        'more than high school but not college': more_than_high_school_not_college/total_chil1,
        'college': college/total_chil1
    }
    return proportions
    # your code goes here
    # YOUR CODE HERE
    raise NotImplementedError()
    
print(proportion_of_education())

{'less than high school': 1.0, 'high school': 0.0, 'more than high school but not college': 0.0, 'college': 0.0}

In [21]:
def chickenpox_by_sex():
    import pandas as pd
    
    df = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/NISPUF17 (1).csv')
    
    vaccinated = df[df['P_NUMVRC']>=1]
    
    cpx_contracted = vaccinated[vaccinated['HAD_CPOX']==1]
    cpx_not_contracted = vaccinated[vaccinated['HAD_CPOX']==2]
    
    male_contracted = cpx_contracted[cpx_contracted['SEX']==1].shape[0]
    male_not_contracted = cpx_not_contracted[cpx_not_contracted['SEX']==1].shape[0]
    
    female_contracted = cpx_contracted[cpx_contracted['SEX']==2].shape[0]
    famale_not_contracted = cpx_not_contracted[cpx_not_contracted['SEX']==2].shape[0]
    
    male_ratio=male_contracted/male_not_contracted
    female_ratio=female_contracted/famale_not_contracted
    
    return {
        "male":male_ratio,
        "female":female_ratio
    }
print(chickenpox_by_sex())

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [9]:
def avarage_influance_doses():
    import pandas as pd 
    
    df = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/NISPUF17 (1).csv')
    
    breastfed = df[df['CBF_01']==1]
    not_breastfed = df[df['CBF_01']==2]
    
    avg_breastfed = breastfed['P_NUMFLU'].mean()
    avg_not_breastfed = not_breastfed['P_NUMFLU'].mean()
    
    return (avg_breastfed, avg_not_breastfed)
print(avarage_influance_doses())

(np.float64(1.8799187420058687), np.float64(1.5963945918878317))

In [6]:
def corr_chickenpox():
    import scipy.stats as stats
    import pandas as pd
    
    df = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/NISPUF17 (1).csv')
    
    had_cpx_clm = df['HAD_CPOX']
    num_chx_vaccine_clm = df['P_NUMVRC']
    
    valid_data = df[['HAD_CPOX', 'P_NUMVRC']].dropna()
    
    corr , pval = stats.pearsonr(valid_data['HAD_CPOX'], valid_data['P_NUMVRC'])
    
    return corr
print(corr_chickenpox())

0.0034753171515293493